@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
  margin: 0;
  background-color: #FBF5E9;
  font-family: 'Noto Serif JP', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  width: 200px;
  max-width: 60vw;
}

.fade-text {
  opacity: 0;
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
  animation: fadeIn 1s ease-in-out forwards;
}

.text2 {
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
